.top {
    height: 64px;
    color: #fff;
    background-color:  #cde0e0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.sidenav {
    width: 15%;
    text-align: center;
}

.burger {
    float: left;
}

li.top {
    background-color: #250f10;
}
