.main-right {
    width: 90%;
    /* float: right; */
    margin-top: 0px;
    margin-left: 200px;
    padding: auto;
}

@media screen and (max-width: 992px) {
    .main-right {
        margin-left: 40px;
    }
}

.chartCard {
    margin: auto;
}
