nav {
    background-color: #250f10;
    height: 100px;
}

a {
    color: #26a69a;
}

.small-logo {
    height: 100px;
}

div.section {
    margin-top: 60px;
}

.settings-title {
    font-size: 30px;
}

.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content-div {
    flex: 1 0 auto;
}

.page-footer {
    text-align: center;
    background-color: #250f10;
}

.footer-container {
    width: 70%;
    margin: 0 auto;
    max-width: 1280px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.fixWidth {
    width: 33.33333% !important;
    margin-left: auto !important;
    left: auto !important;
    right: auto !important;
}

